:root, *, *::before, *::after {
--dios-externo:#8F8061;
--dios-externo-50:#8F806180;
--dios-externo-25:#8F806140;
--dios-externo-15:#8F806126;
--constelaciones:#8F8061;
--constelaciones-50:#8F806180;
--constelaciones-25:#8F806140;
--constelaciones-15:#8F806126;
--aci:#CFC26E;
--aci-50:#CFC26E80;
--aci-25:#CFC26E40;
--aci-15:#CFC26E26;
--cazadores-registrados:#34576E;
--cazadores-registrados-50:#34576E80;
--cazadores-registrados-25:#34576E40;
--cazadores-registrados-15:#34576E26;
--cazadores-clandestinos:#802431;
--cazadores-clandestinos-50:#80243180;
--cazadores-clandestinos-25:#80243140;
--cazadores-clandestinos-15:#80243126;
--cazadores-productivos:#8D61C1;
--cazadores-productivos-50:#8D61C180;
--cazadores-productivos-25:#8D61C140;
--cazadores-productivos-15:#8D61C126;
--servidores-civiles:#2F6E57;
--servidores-civiles-50:#2F6E5780;
--servidores-civiles-25:#2F6E5740;
--servidores-civiles-15:#2F6E5726;
--civiles:#8A946D;
--civiles-50:#8A946D80;
--civiles-25:#8A946D40;
--civiles-15:#8A946D26;
--estudiantes:#80A69C;
--estudiantes-50:#80A69C80;
--estudiantes-25:#80A69C40;
--estudiantes-15:#80A69C26;
--npcs:#603552;
--npcs-50:#60355280;
--npcs-25:#60355240;
--npcs-15:#60355226;
--fallecidos:#4A4A4A;
--fallecidos-50:#4A4A4A80;
--fallecidos-25:#4A4A4A40;
--fallecidos-15:#4A4A4A26;
}
