:root, *, *::before, *::after {
--curador:#8F8061;
--curador-50:#8F806180;
--curador-25:#8F806140;
--curador-15:#8F806126;
--alcaides:#8F8061;
--alcaides-50:#8F806180;
--alcaides-25:#8F806140;
--alcaides-15:#8F806126;
--hufflepuff:#F0BD30;
--hufflepuff-50:#F0BD3080;
--hufflepuff-25:#F0BD3040;
--hufflepuff-15:#F0BD3026;
--gryffindor:#A6342E;
--gryffindor-50:#A6342E80;
--gryffindor-25:#A6342E40;
--gryffindor-15:#A6342E26;
--ravenclaw:#3C4E91;
--ravenclaw-50:#3C4E9180;
--ravenclaw-25:#3C4E9140;
--ravenclaw-15:#3C4E9126;
--slytherin:#366346;
--slytherin-50:#36634680;
--slytherin-25:#36634640;
--slytherin-15:#36634626;
--intercambio:#663982;
--intercambio-50:#66398280;
--intercambio-25:#66398240;
--intercambio-15:#66398226;
--hogwarts:#708238;
--hogwarts-50:#70823880;
--hogwarts-25:#70823840;
--hogwarts-15:#70823826;
--ministerio:#852B59;
--ministerio-50:#852B5980;
--ministerio-25:#852B5940;
--ministerio-15:#852B5926;
--san-mungo:#45919E;
--san-mungo-50:#45919E80;
--san-mungo-25:#45919E40;
--san-mungo-15:#45919E26;
--quidditch:#5A8577;
--quidditch-50:#5A857780;
--quidditch-25:#5A857740;
--quidditch-15:#5A857726;
--prensa:#B57E92;
--prensa-50:#B57E9280;
--prensa-25:#B57E9240;
--prensa-15:#B57E9226;
--negocios:#31A359;
--negocios-50:#31A35980;
--negocios-25:#31A35940;
--negocios-15:#31A35926;
--ciudadanos:#D45500;
--ciudadanos-50:#D4550080;
--ciudadanos-25:#D4550040;
--ciudadanos-15:#D4550026;
--criminales:#AB001F;
--criminales-50:#AB001F80;
--criminales-25:#AB001F40;
--criminales-15:#AB001F26;
--fallecidos:#4A4A4A;
--fallecidos-50:#4A4A4A80;
--fallecidos-25:#4A4A4A40;
--fallecidos-15:#4A4A4A26;
}
