:root, *, *::before, *::after {
--dios-externo:#8F8061;
--dios-externo-50:#8F806180;
--dios-externo-25:#8F806140;
--dios-externo-15:#8F806126;
--constelaciones:#8F8061;
--constelaciones-50:#8F806180;
--constelaciones-25:#8F806140;
--constelaciones-15:#8F806126;
--aci:#D5BF3F;
--aci-50:#D5BF3F80;
--aci-25:#D5BF3F40;
--aci-15:#D5BF3F26;
--cazadores-registrados:#5168B4;
--cazadores-registrados-50:#5168B480;
--cazadores-registrados-25:#5168B440;
--cazadores-registrados-15:#5168B426;
--cazadores-clandestinos:#AA2527;
--cazadores-clandestinos-50:#AA252780;
--cazadores-clandestinos-25:#AA252740;
--cazadores-clandestinos-15:#AA252726;
--cazadores-productivos:#8A76AB;
--cazadores-productivos-50:#8A76AB80;
--cazadores-productivos-25:#8A76AB40;
--cazadores-productivos-15:#8A76AB26;
--servidores-civiles:#4C7F5F;
--servidores-civiles-50:#4C7F5F80;
--servidores-civiles-25:#4C7F5F40;
--servidores-civiles-15:#4C7F5F26;
--civiles:#9F4D7C;
--civiles-50:#9F4D7C80;
--civiles-25:#9F4D7C40;
--civiles-15:#9F4D7C26;
--estudiantes:#429EBB;
--estudiantes-50:#429EBB80;
--estudiantes-25:#429EBB40;
--estudiantes-15:#429EBB26;
--npcs:#C2532E;
--npcs-50:#C2532E80;
--npcs-25:#C2532E40;
--npcs-15:#C2532E26;
--fallecidos:#4A4A4A;
--fallecidos-50:#4A4A4A80;
--fallecidos-25:#4A4A4A40;
--fallecidos-15:#4A4A4A26;
}
