a.grconstelaciones em:before {
font-family:'cappuccicons';
content:'\ea26';
}
a.graci em:before {
font-family:'cappuccicons';
content: '\e911';
}
a.grcazadoresregistrados em:before {
font-family:'IcoFont';
content:'\e810';
}
a.grcazadoresclandestinos em:before {
font-family:'game-icons';
content:'\f422';
}
a.grcazadoresproductivos em:before {
font-family:'game-icons';
content:'\f0d3';
}
a.grservidoresciviles em:before {
font-family:'IcoFont';
content:'\ebb6';
}
a.grciviles em:before {
font-family:'game-icons';
content:'\f982';
}
a.grestudiantes em:before {
font-family:'IcoFont';
content:'\eaec';
}
a.grnpcs em:before {
font-family:'IcoFont';
content:'\ec8f';
}
a.grfallecidos em:before {
font-family:'game-icons';
content:'\f6d7';
}
