.tabgrupos[grupo="dios-externo"] {
--group:var(--dios-externo);
--group-50:var(--dios-externo-50);
--group-25:var(--dios-externo-25);
--group-15:var(--dios-externo-15);
}
.tabgrupos[grupo="constelaciones"] {
--group:var(--constelaciones);
--group-50:var(--constelaciones-50);
--group-25:var(--constelaciones-25);
--group-15:var(--constelaciones-15);
}
.tabgrupos[grupo="aci"] {
--group:var(--aci);
--group-50:var(--aci-50);
--group-25:var(--aci-25);
--group-15:var(--aci-15);
}
.tabgrupos[grupo="cazadores-registrados"] {
--group:var(--cazadores-registrados);
--group-50:var(--cazadores-registrados-50);
--group-25:var(--cazadores-registrados-25);
--group-15:var(--cazadores-registrados-15);
}
.tabgrupos[grupo="cazadores-clandestinos"] {
--group:var(--cazadores-clandestinos);
--group-50:var(--cazadores-clandestinos-50);
--group-25:var(--cazadores-clandestinos-25);
--group-15:var(--cazadores-clandestinos-15);
}
.tabgrupos[grupo="cazadores-productivos"] {
--group:var(--cazadores-productivos);
--group-50:var(--cazadores-productivos-50);
--group-25:var(--cazadores-productivos-25);
--group-15:var(--cazadores-productivos-15);
}
.tabgrupos[grupo="servidores-civiles"] {
--group:var(--servidores-civiles);
--group-50:var(--servidores-civiles-50);
--group-25:var(--servidores-civiles-25);
--group-15:var(--servidores-civiles-15);
}
.tabgrupos[grupo="civiles"] {
--group:var(--civiles);
--group-50:var(--civiles-50);
--group-25:var(--civiles-25);
--group-15:var(--civiles-15);
}
.tabgrupos[grupo="estudiantes"] {
--group:var(--estudiantes);
--group-50:var(--estudiantes-50);
--group-25:var(--estudiantes-25);
--group-15:var(--estudiantes-15);
}
.tabgrupos[grupo="npcs"] {
--group:var(--npcs);
--group-50:var(--npcs-50);
--group-25:var(--npcs-25);
--group-15:var(--npcs-15);
}
.tabgrupos[grupo="fallecidos"] {
--group:var(--fallecidos);
--group-50:var(--fallecidos-50);
--group-25:var(--fallecidos-25);
--group-15:var(--fallecidos-15);
}
