.fetgr1 {background-color:var(--fondo);background-image:url(https://images2.imgbox.com/a8/38/jsvHQeyo_o.png);background-position:center;background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-blend-mode:var(--fondo-blend);border-bottom:var(--border1);}

.tabgrupos .tabhead:before {background:var(--group);mix-blend-mode:soft-light;opacity:.8;backdrop-filter:brightness(0.9) contrast(1.1) blur(2px);}
