#fetbut1 {width:100%;}

.fetbut2 {width:100%;height:66px;margin-bottom:22px;}

.fetbut3 {width:100%;height:66px;background-color:var(--fondo);background-image:url(https://images2.imgbox.com/a8/38/jsvHQeyo_o.png);background-position:center;background-size:cover;background-attachment:fixed;background-repeat:no-repeat;background-blend-mode:var(--fondo-blend);border:var(--border2);}

.fetbut4 {width:100%;height:66px;background:var(--group);mix-blend-mode:soft-light;opacity:.8;backdrop-filter:brightness(0.9) contrast(1.1) blur(2px);}

#fetbut5 {background:none;position:relative;top:-52px;border:none;}
