.fetreg1 {padding-top:10px!important;padding-bottom:10px!important;padding-right:10px!important;}

.fetreg1a {padding-top:10px!important;padding-bottom:10px!important;padding-right:10px!important;column-count:2;}

.fetreg2 {margin-bottom:0px!important;}
