.tattreg1 {padding-top:10px!important;padding-bottom:10px!important;padding-right:10px!important;}

.tattreg1a {padding-top:10px!important;padding-bottom:10px!important;padding-right:10px!important;column-count:2;}

.tattreg2 {margin-bottom:0px!important;}
